*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
    color: white;
    background-color: #F1EFED;

}

html {
    scroll-behavior: smooth;
}


/* HEADER */

.header{
    height: 100vh;
    width: 100%;
    background-image: url('https://i.postimg.cc/C1r0GCk8/bg-3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: absolute; */
}



.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    transition:all 0.3s ease-in-out;
}

.open-menu{
    width: 25px;
    height: 25px;
    display: none;
}

.menu-mobile {
    width: 100%;
}

.menu-mobile-close{
    display: none;
}

.nav.scroll{
    width: 100%;
    top: 0;
    position: fixed;
    background-color: #fff;
    height: 50px;
    padding: 15px 40px;
    transition:all 0.3s ease;
    z-index: 5;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   
}

.nav.scroll .logo a, .nav.scroll ul li a {
    color: #000;
    transition:all 0.3s ease-in-out;
}

.nav.scroll ul li a:hover{
    color: #F96D00;
    color: #fff;
}

.close-menu{
    display: none;
    position: fixed;
    max-width: 25px;
    max-height: 25px;
    transition:all 0.3s ease-in-out;
}


.nav ul{
    display: flex;
    align-items: center;
    flex-direction: row;
    right: 0;
    list-style:none;
    /* padding: 10px; */
}

.nav ul li{
    margin-left: 25px;
}

.navbar-nav{
    display: block;
    opacity: 100%;
    transition:all 0.3s ease-in-out;
}

.nav ul li a {
        
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.750);
    font-size: 15px;
}

.nav ul li a:hover{
    transition:all 0.3s ease-in-out;
    color: #fff;
}

.logo{
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
}

.logo a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}


/* HERO */

.hero{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    transition:all 0.3s ease;
}

.hero h1{
    font-family: 'Playfair Display', sans-serif;
    font-size: 80px;
    text-align: center;
}

.hero p {
    font-size: 20px;
    text-align: center;
}

.hero input{
    font-family: 'Playfair Display', sans-serif;
    font-size: 15px;
    color: #fff;
    padding: 10px 25px;
    border: white solid 1.6px;
    background-color: transparent;
    cursor: pointer;
}

.hero input:hover{
    transition:all 0.3s ease-in-out;
    background-color: #fff;
    color: #000;
}


/* SECCION 001 - ABOUT */

.section-1{  
    width: 100%;
    overflow: hidden;
    padding: 150px 0;
    background-color: white;
}

.section-1_container{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.container-img{
    padding: 15px;
    width: 800px;
    height: auto;
    position: absolute;
    right: 0;
    overflow: hidden;
        
}

.container-img img{
    right: -90px;
    width: 110%;
}

.contenido-text{
    color: #000;
    width: 45%;
    padding: 15px;
    left: 0;
}

.contenido-text input{
    font-family: 'Playfair Display', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.301);
    padding: 10px 25px;
    border: rgba(0, 0, 0, 0.301) solid 1.6px;
    background-color: transparent;
    cursor: pointer;
}

.contenido-text input:hover{
    transition:all 0.3s ease-in-out;
    background-color: #000;
    color: #fff;
}

.contenido-text h4{
    letter-spacing: 6px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.301);
}

.contenido-text h2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
}

.contenido-text p{
    line-height: 1.5;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.400);
    padding: 10px 0;
}


/* SECCION-2 PROMOS */


.section-2{
    width: 100%;
    padding: 120px 0 120px 0;
    text-align: center;
    color: #000;
}

.section-2 h4{
    letter-spacing: 6px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.301);
}

.section-2 h2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
}

.section-2 p{
    line-height: 1.5;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.400);
    padding: 10px 0;
    margin: 0 auto;
    max-width: 40%;
}

.card-container{
    max-width: 1100px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
}

.card-swiper {
    display: flex;
}

.card{
    background-color: #fff;
    margin: 21px;
    width: 319px;
    overflow: hidden;
    border-radius: 6px;
}

.card img{
    height: 200px;
    margin: 0 auto;
    width: 100%;
}

.card-text{
    padding: 30px 0;
}

.card-text h2{
    padding: 10px 0 15px 0;
    font-size: 25px;
    color: #F96D00;
}

.card-text h3{
    font-family: 'Playfair Display', sans-serif;
}

.card-text p{
    max-width: 70%;
}

.card input{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 12px;
    background-color: #F96D00;
    padding: 14px 26px;
    border: none;
    cursor: pointer;
}

.card input:hover{
    background-color: #f96c00b8;
    transition:all 0.3s ease-in-out;
}

/* SECCION-3 MENU */


.section-3{
    width: 100%;
    padding: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: white;
}

.section-3 h4{
    letter-spacing: 6px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.301);
}

.section-3 h2{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
    color: #000;
}

.section-3 p{
    line-height: 1.5;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.400);
    padding: 10px 0;
    margin: 0 auto;
    width: 30%;
}

.menu-btn input{
    font-family: 'Playfair Display', sans-serif;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.301);
    padding: 10px 25px;
    border: rgba(0, 0, 0, 0.301) solid 1.6px;
    background-color: transparent;
    cursor: pointer;
    margin: 15px 5px;
    text-transform: uppercase;
}

.menu-btn input:hover{
    background-color: #f96c00b8;
    transition:all 0.3s ease-in-out;
    color: #fff;
}

.menu-container{
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1100px;
    margin: 0 auto;
}

.menu-details{
    display: flex;
    justify-content: center;
    align-items:flex-start;
    /* border: #000 solid 1px; */
    width: 45%;
    margin: 15px;
    text-align: left;
}

.menu-details img{
    top: 0;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.menu-details p{
    padding: 5px 0 ;
}

.menu-details h3{
    font-family: 'Playfair Display', sans-serif;
    font-size: 15px;
}

.menu-details h2{
    padding: 5px 0 ;
}

.menu-text{
    padding: 0 10px;
}

.menu-text p{
    width: 100%;
}

.menu-text h2{
    padding: 10px 0 15px 0;
    font-size: 15px;
    color: #F96D00;
}



/* SECCION-4 GALLERY */


.section-4{
    width: 100%;
    padding: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: transparent
}

.section-4 h4{
    letter-spacing: 6px;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.301);
}

.section-4 h3{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
    color: #000;
}

.section-4 p{
    line-height: 1.5;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.400);
    padding: 20px 0;
    margin: 0 auto;
    width: 40%;
}

.gallery{
    display: flex;
    max-width: 1100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
}

.gallery-img{
    margin: 5px;
    width: 350px;
    height: 330px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.gallery img{
    margin: 0 auto;
    height: 100%;
}


/* SECCION-5 CONTACTO */



.section-5{
    width: 100%;
    height: 100%;
    padding: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #000;
    background-color: white;
}

.section-5 h3{
    font-family: 'Playfair Display', sans-serif;
    font-size: 50px;
    color: #000;
}

.section-5 p{
    line-height: 1.5;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.400);
    padding: 20px 0;
    margin: 0 auto;
    width: 40%;
}

.section-5 form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

form input{
    margin: 5px 0 ;
    padding: 9px;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    background-color: #f3f3f3;
    border: 2px solid #ccc;
}

.form-comentario{
    margin: 5px 0 ;
    width: 100%;
    height: 150px;
    padding: 9px;
    border: 2px solid #ccc;
    background-color: #f3f3f3;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

form .btn-submit{
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 14px;
    background-color: #F96D00;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    width: 160px;
}

.contact-container{

}

/* SECCION-6 MAP */


#map{
    width: 100%;
    height: 565px;
}


/* SECCION FOOTER */

.footer{
    background-color: #59443d;
    width: 100%;
}

.footer-all{
    margin: 0 auto;
    max-width: 1100px;
    display: flex;
    flex-direction: row;
    padding: 50px 0;
}

.footer-container{
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content:space-between
}

.footer .footer-column{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.footer-column h4{
    font-family: 'Playfair Display', sans-serif;
    font-size: 15px; 
    padding: 2px 0;
}

.footer-column a{
    text-decoration: none;
    font-size: 12px; 
    color: rgba(255, 255, 255, 0.426);
    padding: 5px 0;
}

.footer-icons{
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.footer-icons img{
    opacity: 40%;
    margin: 0 6px;
    width: 30px;
    height: 30px;
    filter: invert(100%);
}



/* SWIPER */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


/* MEDIA  QUERY */


@media (max-width: 800px) {

    .section-5 {
        width: 100%;
        height: 100%;
    }

    .card-container{
        overflow-x: auto;
        flex-wrap:wrap;
        flex-direction: row;
    }

    .hero h1 {
        font-family: 'Playfair Display', sans-serif;
        font-size: 50px;
        text-align: center;
        padding: 15px;
    }

    .hero p{
        padding: 0 15px;
    }

    .navbar-nav{
        visibility: hidden;
        position: fixed;
        top: 0;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        background-color: #fff;
        z-index: 5;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }

    .activar{
        visibility: visible;
        opacity: 100%;
    }

    .desactivar{
        visibility: hidden;
    }

    .nav ul {
        display: flex;
        position: absolute;
        flex-direction: column;
    }

    .nav ul li {
        display: block;
        width: 100%;
        padding: 15px 0;
        /* border: black 1px solid; */
        margin: 0 auto;
    }

    .nav ul li a{
        color: #000;
        justify-content: center;
    }

    .nav ul li:hover{
        background-color: #F96D00;
        transition:all 0.3s ease-in-out;
    }

    .menu-mobile-close{
        display: block;
        width: 100%;
        position: absolute;
        right: 0;

    }

    .menu-mobile-close{
        display: block;
    }

    .close{
        display: block;
        position: fixed;
        width: 25px;
        height: 25px;
        top: 0;
        right: 0;
        margin: 22px 40px;
        z-index: 6;
    }

    .open-menu{
        display: block;
        filter: invert(100%);
        cursor: pointer;
        left: 0;
        transition:all 0.3s ease-in-out;
    }

    .nav.scroll .open-menu{
        filter: invert(0%);
    }

    .contenido-text h2 {
       text-align: center;
    }

    .menu-details{
        width: 90%;
        padding: 10px 0; 
    }
    .menu-details img {
        width: 120px;
        height: 120px;
    }

    .menu-text h2 {
        font-size: 30px;
        padding: 0;
    }

    .menu-text {
        padding: 0 18px;
    }

    .section-1_container{
        padding: 0;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contenido-text {
        width: 100%;
        padding: 15px;
        margin-bottom: 10px;
    }

    .container-img {
        padding: 15px;
        width: 800px;
        height: auto;
        position: relative;
        right: 0;
        overflow: hidden;
    }

    .container-img img{
        position: relative;
        left: 0;
        width: 100%;
        height: auto;
    }

    .section-3 p{
        width: 90%;
        padding: 10px 0;
    }

    .section-1 {
        padding: 20px 0px;
    }

    .section-2 {
        padding: 60px 0px;
    }

    .section-2 p{
        max-width: 90%;
    }
    .section-4 p{
        width: 90%;
    }

    .section-2 h2{
        font-size: 40px;
    }

    .section-3 {
        padding: 25px 0px;
    }

    .card{
        margin: 15px 15px;
        left: 0;
    }

    .card img{
        height: auto;
    }

    .gallery{
        width: 100%;
    }

    .gallery-img {
        width: 100%;
        height: auto;
        margin: 10px 0;
    }

    .gallery img {
        margin: 0 auto;
        height: 100%;
        width: 100%;
    }

    .footer{
        padding: 0 20px ;
    }

}

@media (max-width: 1470px) {

    .container-img {
        position: relative;
    }

    .section-1 {
        padding: 70px 30px;
    }

    .section-2 {
        padding: 85px 0 85px 0;
    }

}

@media (max-width: 400px) {

    .footer-icons{
        display: flex;
        justify-content: flex-start;
        width: 60%;
        flex-direction: column;
        align-items: flex-end;
        
    }

    .footer-icons img{
        margin: 7px 25px 7px 0;
    }

    .footer .footer-column {
        margin-right: 30px;
    }
}





